# created by virtualenv automatically
# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Environment variables / secrets
.env
.idea
# Testing/build artifacts
.pytest_cache/
dist/
build/
*.egg-info/
